/*
Theme Name: Aardvark Child
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Aardvark WordPress theme.
Version: 1.0
Author: GhostPool
Author URI: http://www.ghostpool.com
Text Domain: aardvark
Template: aardvark
*/

/* SINGLE PACKAGE PAGE */

#pkg-single {
  width: 100%;
}

#pkg-single .fas {
  font-family: 'Font Awesome 5 Free', 'FontAwesome';
}

.pkg-banner {
  height: 250px;
  background-size: cover, cover;
  background-position: center;
  position: relative;
}

.pkg-banner-content {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.pkg-type-module {
  background: #7C303E;
}

.pkg-type-system {
  background: #30357C;
}

.pkg-type-world {
  background: #307C35;
}

.pkg-premium {
  background: #C68E43;
}

.pkg-library {
  background: #54216B;
}

.pkg-metatag div {
  width: fit-content;
  display: inline-block;
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  padding: 5px;
}

.pkg-name {
  color: white;
  position: absolute;
  bottom: 35px;
  font-size: 40px;
}

.pkg-banner-left {
  float: left;
  width: 50%;
  margin-left: 10px;
  bottom: 0;
  position: absolute;
  color: #fff;
}

.pkg-banner-right {
  float: right;
  width: 50%;
  text-align: right;
  bottom: 0px;
  position: absolute;
  right: 10px;
}

.pkg-banner-left div {
  display: inline-block;
  height: 36px;
  width: 150px;
  line-height: normal;
}

.pkg-banner-left div div {
  margin-left: 50px;
}

.pkg-banner-left div.pkg-banner-title {
  font-size: 11px;
  height: 15px;
}

.pkg-banner-left i {
  font-size: 30px;
  position: absolute;
  padding: 7px;
}

.pkg-banner-right i {
  padding-right: 4px;
}

#pkg-single button:disabled, .modal button:disabled {
  background: #D5812C;
  cursor: auto;
}

.pkg-banner-right button {
  width: 125px;
}

.pkg-screenshots {
  height: 165px;
  padding: 15px 0px;
}

.pkg-screenshots img, .pkg-screenshots video {
  max-height: 135px;
  max-width: 242px;
}

#lightgallery div {
  margin-right: 10px;
  cursor: pointer;
}

#lightgallery {
  display: flex;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #447dc7;
  border: 0px solid #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #76a0d6;
}

::-webkit-scrollbar-thumb:active {
  background: #92a9c7;
}

::-webkit-scrollbar-track {
  background: #888888;
  border: 0px solid #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: #888888;
}

::-webkit-scrollbar-track:active {
  background: #666666;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.pkg-tag-list {
  background: #DCE6F4;
  margin-top: 15px;
}

.pkg-tag-list h2 {
  font-size: 20px;
  color: #050301;
  padding: 0px 10px;
  font-variant: all-small-caps;
  margin: 0px;
}

.pkg-tag-list ul {
  list-style: none;
  margin: 0px;
}

li.pkg-tag {
  margin: 2px 10px 10px 10px;
  padding: 0px 5px;
  border: 1px solid #21416C;
  color: #21416C;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

.pkg-tag i {
  margin: 7px 5px 0px 2px;
}

.pkg-left-column {
  flex: 0 0 350px;
  color: white;
}

.pkg-right-column {
  flex: 1;
  padding: 0px 15px;
}

.pkg-left-column span {
  font-weight: 500;
  color: #21416C;
}

.pkg-main {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
}

.pkg-left-column table tr th {
  padding: 0px 5px;
  background-color: #21416C;
  border: none;
  font-size: 14px;
  vertical-align: top;
  width: 120px;
}

.pkg-left-column td {
  font-size: 14px;
  border: none;
  vertical-align: top;
  padding: 0px 5px;
  background-color: #DCE6F4;
  color: #050301;
}

.pkg-left-column table {
  border: none;
}

.pkg-left-column ul {
  list-style: none;
  margin: 0 0 0 0;
}

.pkg-left-column ul ul {
  margin: 0 0 5px 24px;
  line-height: 18px;
}

.pkg-left-column a {
  color: #132640;
  font-weight: 500;
}

.popup-tabs {
  display: flex;
  background: #76A0D6;
  height: 40px;
  align-items: center;
}

.popup-tab {
  flex: 1;
  text-align: center;
  font-weight: 500;
  color: #21416C;
  font-size: 18px;
  cursor: pointer;
}

.popup-tab:hover {
  color: #050301;
}

.tab-active {
  text-decoration: underline;
  color: #050301;
}

.popup-content-container {
  margin: 5px 15px 15px 15px;
}

.popup-content {
  display: none;
}

.popup-content-active {
  display: block;
}

span.pkg-highlight {
  font-family: monospace;
  background: #3f7796;
  color: white;
  padding: 3px 5px;
  border: 1px solid #050301;
  white-space: nowrap;
}

.flex {
  display: flex;
}

input.manifest-url {
  flex: 1;
}

button.manifest-copy {
  height: 34px;
  flex: 0 0 34px;
  padding: 0px;
}

.popup-tab:not(:first-child) {
  border-left: 1px solid black;
}

span.forge-btn-text {
  background-image: url(/wp-content/themes/aardvark-child/images/the-forge-logo-32x32.png);
  background-repeat: no-repeat;
  padding: 0px 26px;
  background-size: contain;
}

button.forge-oauth {
  width: 100%;
}

button.forge-oauth span {
  margin-left: 10px;
}

#forge-message.info {
  border: 1px solid #9c6200;
  background: #dbab70;
  border-radius: 5px;
  color: #050301;
  text-align: center;
}

#forge-message.error {
  border: 1px solid #9c0000;
  background: #db7070;
  border-radius: 5px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .pkg-banner-left {
    background: #050301ba;
  }
  .pkg-name {
    font-size: 6vw;
    top: 15px;
    bottom: unset;
    background-color: #000000c4;
    padding: 0px 5px;
  }
  .pkg-download {
    margin-bottom: 5px;
  }
  .pkg-metatag {
    display: none;
  }
}

/* PACKAGE BOX */

#pkgs-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

@media screen and (max-width: 768px) {
  #pkgs-box-container {
    grid-template-columns: 1fr;
  }
}

.pkgbox {
  height: 365px;
  position: relative;
  background: #E1E9F3;
  display: flex;
  flex-direction: column;
}

.pkgbox-cover {
  height: 144px;
  position: relative;
  display: block;
  background-size: cover;
  flex: 0 0 144px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #465a74;
}

.pkgbox-type {
  position: absolute;
  bottom: 0;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  padding: 5px;
}

.pkgbox-type-module {
  background: #7C303E;
}

.pkgbox-type-system {
  background: #30357C;
}

.pkgbox-type-world {
  background: #307C35;
}

.pkgbox-premium {
  background: #C68E43;
  position: absolute;
  bottom: 28px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  padding: 5px;
}

.pkgbox-library {
  background: #54216B;
  position: absolute;
  bottom: 28px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  padding: 5px;
}

.pkgbox-content h3 {
  font-size: 20px;
  margin: 0;
  line-height: normal;
  padding: 5px 0px;
}

.pkgbox-info p {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
}

.pbgbox-info-label {
  font-weight: 500;
  color: #050301;
}

.pkgbox-description {
  line-height: normal;
}

.pkgbox-footer {
  font-size: 14px;
  color: white;
  background: #21416C;
  flex: 0 0 auto;
}

.pkgbox-footer span {
  padding: 5px;
}

.pkgbox-content {
  flex: 1 1 100%;
  padding: 0px 5px;
  overflow: hidden;
  position: relative;
}

.pkgbox-content::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5em;
  display: block;
  background: linear-gradient(0deg, rgba(225, 233, 243, 1) 5%, rgba(225, 233, 243, 0) 100%);
  content: "";
}

.searchandfilter input.sf-input-text {
  width: 100%;
}

.searchandfilter select.sf-input-select {
  width: 100%;
}

.searchandfilter ul li.sf-field-submit {
  display: inline-block !important;
  width: calc(50% - 5px);
  margin-right: 5px;
}

.searchandfilter li.sf-field-reset {
  display: inline-block !important;
  width: calc(50% - 5px);
  margin-left: 5px;
}

.searchandfilter input.search-filter-reset {
  width: 100%;
}

.searchandfilter input[type="submit"] {
  width: 100%;
}

.searchandfilter label {
  width: 100%;
}

.searchandfilter select[name="_sfm_type[]"] {
  text-transform: capitalize;
}

.searchandfilter label.sf-label-checkbox {
  width: auto;
}

.searchandfilter li.sf-level-0 {
  border: none;
  line-height: normal;
}

.searchandfilter .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #999;
  line-height: 34px;
}

.searchandfilter span.select2-selection.select2-selection--single {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  height: 34px;
}

.searchandfilter span.select2-selection__arrow {
  line-height: 34px;
  height: 34px !important;
}

.pkgs-results-number {
  background: #447DC7;
  margin-bottom: 15px;
  padding: 0px 10px;
  color: white;
}

.pkgs-page-info {
  background: #447DC7;
  margin-top: 15px;
  padding: 0px 10px;
  color: white;
  text-align: center;
}

.pkgs-page-info a {
  color: white;
}

.pkgs-page-info .wp-pagenavi a, .wp-pagenavi span {
  border: none;
}

/* Fix font awesome 4 to font awesome 5*/

.gp-theme #buddypress #object-nav li a::before {
  font-weight: 900 !important;
}

#user-community:before {
  content: '\f086' !important;
}

.gp-theme #buddypress #object-nav #notifications-personal-li a:before {
  content: '\f0f3' !important;
}

.gp-theme #buddypress #object-nav #members-groups-li a:before {
  content: '\f007' !important;
}

.gp-theme #buddypress #object-nav #xprofile-personal-li a:before {
  content: '\f007' !important;
}

#gp-share-icons a::before {
  font-family: 'Font Awesome 5 Brands' !important;
}

.gp-entry-meta .gp-meta-comments::before {
  content: '\f075' !important;
}

.gp-entry-meta .gp-meta-likes::before {
  content: '\f164' !important;
}

.gp-theme #buddypress div.activity-meta .delete-activity::before, .gp-theme #buddypress div.activity-meta .delete-activity-single::before, .gp-theme #buddypress div.acomment-options .acomment-delete::before {
  content: '\f2ed' !important;
}

.gp-theme #buddypress div.activity-meta .acomment-reply::before, .gp-theme #buddypress div.acomment-options .acomment-reply::before {
  content: '\f075' !important;
}

.gp-profile-tab::before {
  content: '\f007';
}

.gp-notifications-tab::before {
  content: '\f0f3';
}

#gp-profile-menu .gp-standard-menu a {
  font-size: 15px;
  padding: 6px 20px;
}

.gp-notification-link a {
  font-size: 15px;
  font-weight: 400;
}

.gp-notification-link .gp-menu-text {
  font-size: 15px;
  font-weight: 400;
  padding: 8px 15px !important;
}

.h-captcha {
  width: 303px;
}

#wp-admin-bar-wp-logo {
  display: none;
}

#wpadminbar #wp-admin-bar-site-name>.ab-item:before {
  content: url("https://assets.foundryvtt-hub.com/wp-content/themes/aardvark-child/images/foundryhublogo_symbol.png");
}

/*reduce oembed size on forum*/

#wpforo #wpforo-wrap .wpforo-post-content .wpf-oembed-wrap {
  max-width: 50%;
}

.creator-left-column {
  flex: 0 0 200px;
  color: white;
  background-color: #21416C;
  text-transform: capitalize;
  font-size: 1.2em;
}

.creator-left-column a {
  color: white;
}

.creator-left-column ul {
  list-style: none;
  margin: 0 0 0 0;
}

.creator-channel-icon {
  width: 18px;
}

.creator_link {
  width: auto;
  border: 1px solid #76A0D6;
  border-radius: 3px 3px 3px 3px;
  background-color: #76A0D6;
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.creator_link:hover {
  color: #21416C;
  border: 1px solid white;
}

.creator_link span {
  text-align: center;
  width: 100%;
  flex: 1;
  font-size: 16px;
}

.creator-channel-icon {
  flex: 0 0 20px;
}

.creators-row {
  flex: 1 1 100%;
  display: flex;
  height: 200px;
  position: relative;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;
  cursor: pointer;
}

#creators-container {
  display: flex;
  flex-flow: row wrap;
}

.creators-row-left {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.creators-row-right {
  flex: 1;
}

.creators-tags {
  position: absolute;
  bottom: 0px;
  margin: 0px 8px;
  display: flex;
  max-width: 412px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.creators-tags div {
  flex-basis: auto;
  flex-grow: 0;
  height: 20px;
  line-height: 0.7em;
  margin-top:3px;
}

.creators-tags a {
  border: 1px solid #21416C;
  color: #21416C;
  background-color: #DCE6F4;
  padding: 2px;
  text-transform: uppercase;
  margin: 2px;
  font-size: 0.7em;
}

.creators-excerpt {
  margin: 0px 10px;
}

.creators-banner-left {
  float: left;
  width: 50%;
  margin-left: 10px;
  bottom: 0;
  position: absolute;
  color: #fff;
}

.creators-banner-right {
  float: right;
  width: 50%;
  text-align: right;
  bottom: 0px;
  position: absolute;
  right: 10px;
}

.creators-banner-left div {
  display: inline-block;
  height: 36px;
  width: 150px;
  line-height: normal;
}

.creators-banner-left div div {
  margin-left: 40px;
}

.creators-banner-left div.creators-banner-title {
  font-size: 11px;
  height: 15px;
}

.creators-banner-left i {
  font-size: 25px;
  position: absolute;
  padding: 5px;
}

.creators-name {
  color: white;
  position: absolute;
  bottom: 28px;
  font-size: 30px;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .creators-row{
    height:350px;
    flex-flow: row wrap;
  }

  .creators-row-left {
    flex: 1 1 100%;
    height: 150px;
    position: relative;
  }

  .creators-banner-left {
    width: 100%;
  }

  .creators-row-right {
    flex: 1 1 100%;
    position: relative;
    height: 200px;
  }
  .single-creator .pkg-main{
    flex-flow: row wrap;
  }

  .single-creator .pkg-right-column {
    flex: 1 1 100%;
    padding: 15px;
  }

  .creator-left-column {
    flex: 1 1 100%;
  }
}

.widget a.creators-btn-new {
  border: 1px solid #307C35;
  background-color: #307C35;
  color: white;
  width: auto;
  display: block;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
  padding: 3px;
}

.widget a.creators-btn-new:hover {
  background-color: white;
  color: #307C35;
}

.fhub-link-image .uagb-ifb-image {
  height: 50px;
}

button.btn_archives {
  width: 100%;
}

.creatorbox .pkgbox-cover {
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.creators-box-tags {
  position: relative;
  bottom: 0;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  padding: 5px;
  background: #306E7C;
  display: inline-block;
  margin-top: 116px;
}

.related-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

#related-items-wrapper {
  position: relative;
  width: 100%;
  clear: both;
  margin-top: 60px;
}

#tabs {
  width: 100%;
  height: 40px;
  border-bottom: solid 1px #CCC;
  margin: 0;
}

#tabs li {
  float: left;
  list-style: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-right: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  outline: none;
}

#tabs li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
  color: #5685bc;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 8px;
  display: block;
  background: #FFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-decoration: none;
  outline: none;
}

#tabs li a.inactive {
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: #666666;
  background: #EEE;
  outline: none;
  border-bottom: solid 1px #CCC;
}

#tabs li a:hover, #tabs li a.inactive:hover {
  color: #5685bc;
  outline: none;
}

.tab_container {
  clear: both;
  width: 100%;
  padding-top: 10px;
}

#tab_comments #comments{
  margin-top:0;
}

span.tab-count {
  font-weight: 400;
  color: #C64343;
}

@media screen and (max-width: 768px) {
  .tab-title{
    display:none;
  }
}

.pkgbox-footer a {
  color: white;
}

.postbox .pkgbox-cover {
  background-size: cover;
  overflow: hidden;
}

.post-box-category {
  position: relative;
  bottom: 0;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  padding: 5px;
  background: #000000a8;
  display: inline-block;
  margin-top: 116px;
}

a.gp-profile-button{
  display:none !important;
}

.widget_package_horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.widget_package_vertical {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}


.homebox {
  height: 365px;
  position: relative;
  background: #E1E9F3;
  display: flex;
  flex-direction: column;
}

.homebox-category {
  position: absolute;
  top: 0px;
  left: 15px;
  z-index: 2;
}

.homebox-category a{
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 4px 6px;
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
}

.homebox-fade {
  pointer-events: none;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to bottom,rgb(56 56 56 / 0%) 0,rgb(225 233 243 / 86%) 60%, rgb(225 233 243) 100%);
}

.homebox-header {
  position: relative;
}

.homebox-cover {
  height: 144px;
  position: relative;
  display: block;
  background-size: cover;
  flex: 0 0 144px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #465a74;
}

.homebox-content h3 {
  font-size: 18px;
  margin: 0;
  line-height: normal;
  padding: 5px 0px;
}

.homebox-info p {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
}

.homebox-description {
  line-height: normal;
}

.homebox-footer {
  font-size: 13px;
  color: white;
  background: #21416C;
  flex: 0 0 auto;
}

.homebox-footer span {
  padding: 5px;
}

.homebox-content {
  flex: 1 1 100%;
  padding: 0px 5px;
  overflow: hidden;
  position: relative;
}

.homebox-content::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5em;
  display: block;
  background: linear-gradient(0deg, rgba(225, 233, 243, 1) 5%, rgba(225, 233, 243, 0) 100%);
  content: "";
}

.homebox-info {
  font-size: 11px;
  line-height: 15px;
}

.homebox-info span {
  padding: 0px 3px;
}

.homebox-description a {
  color: #333333;
}

.widget_post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.home_title::before {
  content: '\f35a';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-right: 7px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .widget_post{
    grid-template-columns: 1fr;
  }

  .widget_package_horizontal{
    grid-template-columns: 1fr;
  }

  .widget_package_vertical{
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 991px){
  #gp-sidebar-right {
      display:block;
  }
  #responsive-sidebar-close{
    display:none !important;
  }
  
  .resp-sidebar-wrapper{
    padding: 50px 5px 5px 5px;
  }
}

.pp-multiple-authors-layout-boxed {
  margin-top: 60px;
}