<div class="pkg-banner single-creator" style="background-image:linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%), url({{cover}})">
    <div class="pkg-banner-content">
        <h1 class="pkg-name">{{creator.post_title}}</h1>
        <div class="pkg-banner-left">
            <div class="pkg-banner-endorsement">
                <i class="fas fa-thumbs-up"></i>
                <div class="pkg-banner-title">Endorsements</div>
                <div class="pkg-endorse-count">{{endorsements}}</div>
            </div>
            <div class="pkg-banner-comments">
                <i class="fas fa-comment-dots"></i>
                <div class="pkg-banner-title">Comments</div>
                <div>{{creator.comment_count}}</div>
            </div>
        </div>
        <div class="pkg-banner-right">
            {{#if editURL}}
            <a href="{{{editURL}}}" target="_blank">
                <button class="creator-edit">
                    <i class="far fa-edit"></i>
                    Edit
                </button>
            </a>
            {{/if}}
            <button {{endorsementDisabled}} data-postid="{{creator.ID}}" class="pkg-endorse {{#if loggedOut}}pkg-login{{/if}}">
                <i class="fas fa-thumbs-up"></i>
                {{endorsementText}}
            </button>
        </div>
    </div>
</div>
{{#if screenshots}}
<div class="pkg-screenshots">
    <div id="lightgallery">
        {{#screenshots}}
        <div data-src="{{url}}" data-exthumbimage="{{url}}">
            <img src="{{thumbnail}}" />
        </div>
        {{/screenshots}}
    </div>
</div>
{{/if}}
<div class="pkg-tag-list">
    <h2>Tags</h2>
    <ul>
        {{#each creator_tags}}
            <a href="/creators/?_sft_creator_tags={{slug}}"><li class="pkg-tag"><i class="fas fa-tag"></i>{{name}}</li></a>
        {{/each}}
    </ul>
</div>
<div class="pkg-main" id="pkg-main" data-packageName="{{package.real_name}}">
    <div class="creator-left-column">
        {{#each links}}
        <a href="{{url}}" target="_blank" class="creator_link"><i class="creator-channel-icon {{icon}}"></i><span>{{channel}}</span></a>
        {{/each}}
    </div>
    <div class="pkg-right-column">
        <ul id="tabs">
            <li><a href="#tab_description"><i class="fas fa-file-alt"></i> <span class="tab-title">Description</span></a></li>
            <li><a href="#tab_comments"><i class="fas fa-comment"></i> <span class="tab-title">Comments </span><span class="tab-count">({{creator.comment_count}})</span></a></li>
            {{#if relatedPost}}
            <li><a href="#tab_related"><i class="far fa-newspaper"></i> <span class="tab-title">Related News </span><span class="tab-count">({{nbRelatedPost}})</span></a></li>
            {{/if}}
        </ul>
        <div class="tab_container" id="tab_description">
            {{{content}}}
        </div>
        <div class="tab_container" id="tab_comments">
            {{{comments}}}
        </div>
        <div class="tab_container" id="tab_related">
            <div class="related-items">
                {{#each relatedPost}}
                    {{> single-box}}
                {{/each}}
            </div>
        </div>
    </div>
</div>